.product-grid .price {
    color: #272723;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.product-grid img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}